---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
---
<Layout title="Registro - Finances">
    <SectionContainer id="dashboard">
        <h1 class="text-4xl">Hola, bienvenido al dashboard</h1>
    </SectionContainer>
</Layout>