---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import SectionContainer from "@components/layout/SectionContainer.astro";
import ErrorBoundary from "@components/layout/ErrorBoundary.tsx";
import ViewSelector from "@components/reports/ViewSelector.tsx";
---

<Layout title="Reportes - MyFinances">
  <SectionContainer id="reports">
    <ErrorBoundary>
        <h1 class="text-3xl font-bold mb-4">Mis Reportes</h1>
        
        <!-- Componente selector de vista -->
        <ViewSelector client:load />
        
    </ErrorBoundary>
  </SectionContainer>
</Layout>